body{
    margin: 0%;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 50px;
    color: chartreuse;
}
h2{
    font-size: 40px;
}
h3{
    color: rgb(244, 225, 9);
}
.name-highlight{
    color: rgb(243, 181, 9);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(16, 224, 16), tomato);
    padding: 05px 12px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(30, 218, 218), rgb(209, 186, 37));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(228, 215, 26),rgb(42, 42, 193));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}